/* * {
  border: 0.5px solid red
} */

body {
  background-color: rgb(18, 18, 18);
}

#app {
  margin: 0 auto;
  font-weight: normal;
  display: flex;
  width: 100svw;
  height: 100svh;
  justify-content: center;
  align-items: center;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
